.page{
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

.aboutUsContent{
    display: flex;
    justify-content: space-between;
}

.text{
    width: 60%;
}

.buttonCenter{
 display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}