.page {
    height: 60%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;

}

.textPart {
    flex-grow: 3;
}


.aboutUsContent {
    display: flex;
    justify-content: space-between;
}

.text {
    width: 60%;
}

.title {
    width: fit-content;
    padding-top: 0px;
    margin-top: 0px;
}
.buttonCenter {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10%;
}

.imgAboutUs {
    width: 20%;
    height: auto;
    flex-grow: 1;
}

@media (max-width: 768px),
(max-height: 500px) {
    .imgAboutUs {
        height: 25vh;
        width: auto;
    }

.page {
    display: flex;
    flex-direction: column;
}
}