.contacts {
    height: 60%;

    background: rgb(0, 0, 0);
    color: whitesmoke;
}


.content {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;

}

.imageWContacts,
.flexHorizontal {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.contactsColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5%;
    margin-bottom: 3%;
}

.imgContactUs {
    width: 20%;
    height: auto;

}

.mailAdress {
    display: flex;
    flex-direction: row;
}



@media (max-width: 768px),
(max-height: 500px) {
    .imageWContacts{
        gap: 20px;
        flex-direction: column;
    }
    .contacts {
        padding-bottom: 5%;
    }

    .imgContactUs {
        width: 40%;
    }

    .contactsColumn {
        max-width: 45vw;
    }

    .mailAdress {
        display: flex;
        flex-direction: column;
    }

}