ul.myList {
 display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  padding: 0px;
  gap: 4px;
}

ul.myList li {
  list-style: none;
  position: relative;
  display: inline;
  background-color: black;
}

ul.myList li a {
  color: whitesmoke;
  text-decoration: none;
  white-space:nowrap;
  width: 400px;
}

ul.myList li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: whitesmoke;
  transition: all 0.45s;
}

ul.myList li:hover:after {
  width: 100%;
  left: 0;
}

ul.myList li a:hover {
  text-decoration: none;
}

.blackBox{
  padding-top: 2px;
  padding-bottom: 8px;
  background-color: black;
  padding-left: 3%;
  padding-right: 3%;
}

ul.myList li.underlined:after {
  width: 100%;
  left: 0;
}

@media (max-width: 768px),
  (max-height: 500px) {
  ul.myList {
    flex-direction: column;
    text-align: center;
  }

}