.selectDptBtns{
  text-align: center;
}

.btnDpt {
    display: inline-block;
    position: relative;
    border-radius: 0%;
    background-color: black;  /* Underline color */
    color: white;
    transition: background-color 0.3s ease;  /* Smooth transition for background color */
    border: 1px solid white;
    padding: 0.3% 3% 0.3% 3%;
}

.btnDpt::after {
    content: "";
    position: absolute;
    bottom: 11px;
    left: 50%; 
    width: 90%; 
    height: 0.01em;
    background-color: white;  
    transform: translateX(-50%) scaleX(0); 
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
}

.btnDpt:hover::after {
    transform: translateX(-50%) scaleX(1); 
    width: 90%; 
}

.btnDpt:hover {
    background-color: black;  
    color: white;
}

@media (max-width: 768px),
(max-height: 500px) {

.btnDpt{
  width: 75%;
}
}