.accordions {
  padding-top: 5%;
  margin: auto;
  width: 70%;
}

.accordionIntroduction {
  font-size: large;
}

.accordion {
  padding-top: 2%;
  padding-bottom: 2%;
}

.accordionHeader {
  font-weight: bold;
}

.horizontalLine {
  border: none;
  height: 1px;
  background-color: #c4c4c4;
  margin-top: 0;
}

.bulletPoints {
  text-indent: 5px;
}