

.footer {
    padding-top: 5%;
    background-color: black;
    color: white;
    padding-left: 2%;
padding-right: 5%;
}

.imgWhiteLogo {
    width: 8vh;
    height: auto;
}
.horizontalFlex{
    display: flex;
    flex-direction: row;
gap: 5%;
}
.aboveHorizontalLine{
    display: flex;
    flex-direction: row;
gap: 5%;
justify-content: space-between;
}
.verticalFlex{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.lessVerticalPadding{
    margin-top: 0px;
    margin-bottom: 5%;
}

.othersLinks{
    margin-bottom: 0px;
}
.othersLinks:hover{
cursor: pointer;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid whitesmoke;
    margin: 1em 1em 1em 1em;
    padding: 0;
}

.copyright{
     margin: auto;
  width: 50%;
  text-align: center;
  font-size: larger;
  padding-bottom: 3%;
}

@media (max-width:1025px) {
    .imgWhiteLogo {
        height: 5vh;
        width: 5vh;
    }
.aboveHorizontalLine{
    display: flex;
    flex-direction: column;
gap: 5%;
}
.copyright{
  font-size: medium;
}
}
