.footer {
    padding-top: 5%;
    background-color: black;
    color: white;
    padding-left: 2%;
    padding-right: 5%;
}
.imgWhiteLogo {
    width: 8vh;
    height: auto;
}

.horizontalFlex {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.aboveHorizontalLine {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    margin-bottom: 2%;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.verticalFlexCenter {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
}

.verticalFlexRight {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: flex-end;
}

.lessVerticalPadding {
    margin-top: 0px;
    margin-bottom: 5%;
}

.othersLinks {
    margin-bottom: 0px;
}

.othersLinks:hover {
    cursor: pointer;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid whitesmoke;
    padding: 0;
}

.copyright {
    margin: auto;
    margin-top: 2%;
    width: 50%;
    text-align: center;
    font-size: medium;
    padding-bottom: 3%;
}

@media (max-width:1025px) {
        .imgWhiteLogo {
        height: 7vh;
        width: 7vh ;
    }

    .aboveHorizontalLine {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    .copyright {
        font-size: medium;
    }
    .verticalFlexRight {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        margin-top: 1%;
    }
}