.fullPage{
    background-color: whitesmoke;
}
.img {
    position: relative;
}

.vercelLogo {
    width: 100%;
    height: auto;

}

.graphNode{
    background-color: white;
    width: 120px;
    padding-top: 2%;
    padding-bottom: 2%;
      text-align: center;
      border:solid;
        border-radius: 5px;


}

@media (max-width: 768px),
(max-height: 500px) {
    .vercelLogo {
        height: 30vh;
    }
}

.title {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 5%;
    color: white;
    font-size: 3.2rem;
}

.description {
    position: absolute;
    top: 60%;
    bottom: 40%;
    left: 5%;
    color: white;
}

@media (max-width: 768px),
(max-height: 500px) {
    .graphZone {
        width: auto;
        margin: 0;
    }
}