.img {
    position: relative;
}

.vercelLogo{
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 5%;
    color: white;
    display: flex;
    flex-direction: column;
align-content: flex-start;
}
.title {
    font-size: 4.0rem;
    margin-bottom: 0px;
}

.description {
    font-size: 1.5rem;
    margin-top: 0px;
}
@media (max-width: 768px),
(max-height: 500px) {
    .vercelLogo {
        height: 30vh;
        width: 100%;
    }

    .title {
        font-size: 1.3rem;
    }
.description {
    font-size: 0.9rem;
}
}