.gap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 5%;
}

.title {
  padding-left: 1%;
  text-align: center;
}

.description {
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: lightgray;
  padding-inline: 3%;
}

.departments {
  padding-top: 5%;
  padding-bottom: 2%;
}

@media (max-width: 768px),
(max-height: 500px) {
  .description {
    width: 70%;
  }

  .btns {
    width: 80%;
    margin: 0 auto;
  }

}