
.content{
  margin-top: 6%;
  background-color: antiquewhite;
}

.title{
  padding-left: 1%;
}

.line{
  padding-left: 1%;
  display: flex;
  gap: 1%;
}
.columnNews{
  display: flex;
  flex-direction: column;
  column-gap: 10%;
  gap: 5vh;
}
.columnContent{
  display: flex;
  flex-direction: column;
}

.titleNews{
  cursor: pointer;
}