.content{
    margin: 0% 4% 1% 4%;
}

.firstRow{
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}
.personDescription{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 20%;
}
.headName{
    margin-top: 0;
}
.subtitle{
    font-weight: light;
}
.description{
    padding-left: 5%;
}
.responsability{
    padding-bottom: 5%;

}
.persons{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    padding: 3%;
    gap: 3%;
    row-gap: 30px;
    flex-wrap: wrap;
}

.person{
    display: flex;
    flex-direction: column;
    width: fit-content;
      text-align: center;
      gap: 10px;

}

@media (max-width: 768px),
(max-height: 500px) {

.firstRow{
    flex-direction: column;
    width: 100%;
}

.imgLeader{
     align-self:center;
}

.personDescription{
width: 100%;
    padding-top: 3%;
}
.persons{
    flex-direction: column;
}
}