.navbar {
    box-shadow: none;
    border-bottom: solid;
    background-color: black;
    border-width: 0;

}

.logoMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.debug {
    display: flex;
    justify-content: right;
}

.logosLeft {
    width: 1vw;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 5%;
    cursor: 'pointer';
}


@media (max-width: 768px),
(max-height: 500px) {

    .logoMiddle {
        width: 70vw;
    }

    .logosLeft {

        margin-right: 0%;
        margin-left: 0%;
    }

}